
<html>
<head>
    <title>Title</title>
</head>
<style>
    body{
        background: url(/images/xiazai.jpg) no-repeat 0px 0px;
        font-family: Verdana;
        font-size: 50%;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-attachment: fixed;
    }
</style>
<body>
<div id="h1">
</div>
</body>
<script>
    javaex.loading();
</script>
</html>
